colorama==0.4.6
heartbeat_capture==0.3.0
heartbeat_capture.egg==info
matplotlib==3.8.2
minio==7.2.3
numpy==1.26.3
prometheus_client==0.19.0
protobuf==4.25.2
pyserial==3.5
sdnotify==0.3.2
Twisted==23.10.0
urllib3==2.1.0
